<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <%= stylesheet_link_tag "application", '//fonts.googleapis.com/css?family=Glegoo|Inconsolata|Antic|Bungee+Hairline|Cutive|Gravitas+One|Ultra', :media => "all" %>



  </head>
  <body>
    <div>
      <p class="title">Cuts By Caroline</p>

      <p class="sub"> <b class="domain">cutsbycaroline.com </b> is currently under construction.<br> Feel free to browse my work or contact me for an appointment.</p>
      <div id="myCarousel" class="carousel slide visible-sm visible-xs visible-md visible-lg" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
                <li data-target="#myCarousel" data-slide-to="9"></li>
                <li data-target="#myCarousel" data-slide-to="10"></li>

              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" width = "700" role="listbox">
                  <div class="item active ">
                    <div class="col-md-12" id="idk1">
                      <img src = "/images/cuts/FullSizeRender.jpg" width = "425" height = "425">
                    </div>
                  </div>

                  <div class="item">
                    <div class="col-md-12" id="idk2">
                      <p>  <img src="/images/cuts/FullSizeRender1.jpg" alt="idk" width = "425" height = "425"> </p>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk3">
                      <p>  <img src="/images/cuts/FullSizeRender2.jpg" alt="idk" width = "425" height = "425"> </p>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk4">
                      <img  src="/images/cuts/FullSizeRender3.jpg" alt="idk" width = "425" height = "425">
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk5">
                      <p>  <img src="/images/cuts/FullSizeRender4.jpg" alt="idk" width = "425" height = "425"> </p>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk6">
                      <p>  <img src="/images/cuts/FullSizeRender5.jpg" alt="idk" width = "425" height = "425"> </p>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk7">
                      <img  src="/images/cuts/FullSizeRender6.jpg" alt="idk" width = "425" height = "425">
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk8">
                      <p>  <img src="/images/cuts/FullSizeRender7.jpg" alt="idk" width = "425" height = "425"> </p>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk9">
                      <p>  <img src="/images/cuts/FullSizeRender8.jpg" alt="idk" width = "425" height = "425"> </p>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk10">
                      <img  src="/images/cuts/FullSizeRender9.jpg" alt="idk" width = "425" height = "425">
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk11">
                      <img  src="/images/cuts/FullSizeRender10.jpg" alt="idk" width = "425" height = "425">
                    </div>
                  </div>
              </div>
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <hr>
          </div>

          <!-- contact button -->
          <div class = "col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
            <br>
            <p>Currently available for appointments  Wednesdays 10-8 and Saturdays 9-4 at <a style = "text-decoration:none;color:#b67797;"href= "https://www.frenchpharmacie.com">French Pharmacie Salon</a> in Broadripple. </p><br>



            <a style = "display:block;" class = "contact" href ="tel:+13172519182"> <span class="glyphicon glyphicon-earphone"></span> Appointment</a>
  <br><br><br><br>
          </div>
          <div class = "container">
            <div class = "col-md-12 col-xs-12" style ="margin-bottom:50px;">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3062.17387135292!2d-86.14613232133274!3d39.87034309671417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b53af4fe86715%3A0xe0bc3a74f81b1de9!2sFrench+Pharmacie+Salon!5e0!3m2!1sen!2sus!4v1477259310856" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
            </div>
          </div>
          <!-- button end -->

          <!-- social share -->
          <div class= "col-md-6 col-md-offset-3  col-xs-6 col-xs-offset-3 social-icons">
            <a class = "soc" href= "https://www.facebook.com/cutsbycaroline"><img src = "/images/facebook.png" /></a>
            <a class = "soc" href= "https://www.instagram.com/cutsbycaroline"><img src = "/images/instagram.png" /></a>
            <a class = "soc" href= "https://www.twitter.com/cutsbycaroline"><img src = "/images/twitter.png" /></a>
            <a class = "soc" href= "mailto:carolineclark.hair"><img src = "/images/mail.png" /></a>
          </div>
          <!-- end social -->

          <!-- end carousel -->
    </div>
  </body>

</html>
