<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">

    <title> Annie Clark Handmade </title>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <%= stylesheet_link_tag "application", '//fonts.googleapis.com/css?family=Megrim|Pacifico|Fredericka+the+Great|Inconsolata', :media => "all" %>



  </head>
  <body>
    <div>
      <p class="title">Annie Clark Handmade</p>

      <p class="sub"> <b class="domain">annieclarkhandmade.com </b> is currently under construction.<br> Feel free to browse my work or contact me for more information about my work or commission work.</p>
      <div id="myCarousel" class="carousel slide visible-md visible-lg" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" width = "700" role="listbox">
                  <div class="item active ">
                    <div class="col-md-12" id="idk1">
                      <img class = "" src="https://placeimg.com/300/400/any" alt="idk" width="300">
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk2">
                      <p>  <img src="https://placeimg.com/300/400/tech" alt="idk" width="300"> </p>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk3">
                      <p>  <img src="https://placeimg.com/300/400/people" alt="idk" width="300"> </p>
                    </div>
                  </div>

                  <div class="item ">
                    <div class="col-md-12" id="idk4">
                      <img  src="https://placeimg.com/300/400/tech" alt="idk" width="300">
                    </div>
                  </div>
              </div>
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <hr>
          </div>

          <!-- contact button -->
          <div class = "col-md-4 col-md-offset-4">
            <br>
            <p>Available for comission work. Contact me for more information.</p><br>
            <a class = "contact" href ="mailto:annieclarkhandmade@gmail.com"> <span class="glyphicon glyphicon-envelope"></span> Contact me</a>
  <br><br><br><br>
          </div>
          <!-- button end -->
          <div class = "col-md-12">
          <!-- social share -->

          <ul class="soc">
            <li><a class="soc-twitter" href="#ff602b"></a></li>
            <li><a class="soc-instagram" href="#ff602b"></a></li>
            <li><a class="soc-email2" href="#ff602b"></a></li>
            <li><a class="soc-facebook" href="#ff602b"></a></li>
            <li><a class="soc-pinterest" href="#ff602b"></a></li>
            <li><a class="soc-linkedin" href="#ff602b"></a></li>
            <li><a class="soc-rss soc-icon-last" href="#ff602b"></a></li>
        </ul>
          <!-- end social -->
        </div>
          <!-- end carousel -->
    </div>
  </body>

</html>
